#!/bin/sh
set -eu

mkdir -p {{ repository_parent }}
if [ ! -e {{ repository }} ] && [ -e {{ legacy_repository }} ]; then
    mv {{ legacy_repository }} {{ repository }}
fi
if [ ! -d {{ repository }} ]; then
    git init --bare {{ repository }}
fi
chown -R root:root {{ repository }}
git --git-dir {{ repository }} symbolic-ref HEAD refs/heads/master
