// Managed by Ansible

Unattended-Upgrade::Origins-Pattern {
    "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
};

Unattended-Upgrade::Package-Blacklist {
};

{% if common_unattended_upgrades_mail %}
Unattended-Upgrade::Mail "{{ common_unattended_upgrades_mail }}";
Unattended-Upgrade::MailReport "on-change";
{% endif %}

Unattended-Upgrade::Remove-Unused-Kernel-Packages "{{ common_unattended_upgrades_remove_unused_deps | lower }}";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ common_unattended_upgrades_remove_unused_deps | lower }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ common_unattended_upgrades_remove_unused_deps | lower }}";

Unattended-Upgrade::Automatic-Reboot "{{ common_unattended_upgrades_auto_reboot | lower }}";
{% if common_unattended_upgrades_auto_reboot %}
Unattended-Upgrade::Automatic-Reboot-Time "{{ common_unattended_upgrades_auto_reboot_time }}";
{% endif %}
