# Managed by Ansible

[sshd]
enabled = {{ 'true' if common_fail2ban_sshd_enabled else 'false' }}
backend = {{ common_fail2ban_backend }}
banaction = {{ common_fail2ban_banaction }}
bantime = {{ common_fail2ban_bantime }}
findtime = {{ common_fail2ban_findtime }}
maxretry = {{ common_fail2ban_maxretry }}
