[Unit]
Description=Per-site nginx for {{ project_name }}
After=network.target apparmor.service
Requires=apparmor.service

[Service]
Type=simple
User={{ service_user }}
WorkingDirectory={{ paths.current }}
ExecStart=/usr/local/bin/bonesremote landlock nginx --config {{ paths.repo_bones_yaml }}
AppArmorProfile={{ apparmor_profile_name | default("bonesdeploy-" ~ project_name ~ "-nginx") }}
NoNewPrivileges=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
SystemCallArchitectures=native
CapabilityBoundingSet=
AmbientCapabilities=
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
