APP_URL={site_url}

DB_CONNECTION=sqlite
DB_DATABASE=/srv/sites/{project_name}/shared/database.sqlite

LARAVEL_STORAGE_PATH=/srv/sites/{project_name}/shared/storage
VIEW_COMPILED_PATH=/srv/sites/{project_name}/shared/storage/framework/views
CACHE_PATH=/srv/sites/{project_name}/shared/cache
UPLOADS_PATH=/srv/sites/{project_name}/shared/uploads