# Installed by bonesinfra. Requires sudo 1.9.10 or newer for command-line regex support.
# The deploy identity may run only the coordinator's fixed privileged transitions.
{{ deploy_user }} ALL=(root) NOPASSWD: \
  {{ bonesremote_path }} ^config sync --site [a-z0-9-]+ --config-stdin$, \
  {{ bonesremote_path }} ^deploy-transition begin --site [a-z0-9-]+ --revision [0-9A-Fa-f]{40}$, \
  {{ bonesremote_path }} ^deploy-transition prepare --site [a-z0-9-]+ --release [0-9]{8}_[0-9]{6}-[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}$, \
  {{ bonesremote_path }} ^deploy-transition commit --site [a-z0-9-]+ --release [0-9]{8}_[0-9]{6}-[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}$, \
  {{ bonesremote_path }} ^deploy-transition complete --site [a-z0-9-]+ --release [0-9]{8}_[0-9]{6}-[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}$, \
  {{ bonesremote_path }} ^deploy-transition abort --site [a-z0-9-]+ --release [0-9]{8}_[0-9]{6}-[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}$
